{% assign install_url_osx="/getting-started/app-client-tools-install-osx.html" %}
{% assign install_url_linux="/getting-started/app-client-tools-install-linux.html" %}
{% assign install_url_win="/getting-started/app-client-tools-install-windows.html" %}



  1. Поискай покана на [http://startapp.bg](http://startapp.bg)
  2. Ruby за [Windows]({{ install_url_win }}#iinstall-ruby-windows) | [Mac OS]({{ install_url_osx }}#install-ruby-macos) | [Linux]({{ install_url_linux }}#install-git-ruby-linux)
  3. Git за: [Windows]({{ install_url_win }}#install-git-windows) | [Mac OS]({{ install_url_osx }}#install-git-macos) | [Linux]({{ install_url_linux }}#install-git-linux)
  4. StartApp Client Tools за: [Windows]({{ install_url_win }}#install-app-windows) | [Mac OS]({{ install_url_osx }}#install-app-macos) | [Linux]({{ install_url_linux }}#install-app-linux)
