{%assign install_url="/getting-started/app-client-tools-install.html" %}

{% note warning, Предварителни изисквания! %}
  За да продълиш с този туториал трябва да имаш [Акаунт](#) в Startapp.bg и инсталирани [Startapp Client Tools]({{ install_url }}) и [Git]({{ install_url }}).

  Ако все още не си направил това:

  - Безплатна регистрация в [http://startapp.bg](#)
  - Как да си инсталираме Git: [Windows]({{ install_url }}#install-git-windows) | [Mac OS]({{ install_url }}#install-git-macos) | [Linux]({{ install_url }}#install-git-linux)
  - Как да си инсталираме Startapp Client Tools: [Windows]({{ install_url }}#install-app-windows) | [Mac OS]({{ install_url }}#install-app-macos) | [Linux]({{ install_url }}#install-app-linux)
{%endnote%}
