<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://platform.twitter.com/widgets.js"></script>
{% javascript_asset_tag global %}
    - /_assets/bower_components/jquery/jquery.min.js
    - /_assets/bower_components/sass-bootstrap/dist/js/bootstrap.js
    - /_assets/bower_components/sass-bootstrap/docs-assets/js/holder.js
    - /_assets/bower_components/sass-bootstrap/docs-assets/js/application.js
    - /_assets/docs/js/vendors/jquery.tocLight.js
    - /_assets/docs/js/smoothscroll.js.coffee
    - /_assets/docs/js/startup.js.coffee
{% endjavascript_asset_tag %}