{% section id="markers" title="Маркери" %}

Те представляват файлове със специфични имена, които се използват за промяна поведението на системата според твоите нужди.

{% assign current_lang = include.slug | split: "cloudstrap-with-" %}

{% if include.slug == "cloudstrap-with-php" %}
{% include markers/php.html %}
{% elsif include.slug == "cloudstrap-with-nodejs" %}
{% include markers/nodejs.html %}
{% elsif include.slug == "cloudstrap-with-ruby" %}
{% include markers/ruby.html %}
{% elsif include.slug == "cloudstrap-with-python" %}
{% include markers/python.html %}
{% endif %}

**Създаване на маркер**

    touch .openshift/markers/<marker-name>
    git add .openshift/markers/<marker-name>
    git commit -m "Add <marker-name>"

**Премахване на маркер**

    git rm .openshift/markers/<marker-name>
    git commit -m "Remove <marker-name>"

Браво! Трудната част мина успешно :) Сега остава да качим промените на сървъра с `git push`

{% note info, За улеснение! %}
При `git push` системата ще провери маркерите и ще направи това, което си указал чрез имената им.
{% endnote %}



{% endsection %}