    <ul class="nav bs-sidenav">
      <li>
        <h3><a href="/getting-started/app-client-tools-install-osx.html">Инсталиране под MacOS</a></h3>
        <ul class="nav" style="display: block;">
          <li><a href="/getting-started/app-client-tools-install-osx.html#install-ruby-macos">Инсталиране на Ruby</a></li>
          <li><a href="/getting-started/app-client-tools-install-osx.html#install-git-macos">Инсталиране на Git</a></li>
          <li><a href="/getting-started/app-client-tools-install-osx.html#install-app-macos">Инсталиране на CloudStrap Client Tools</a></li>
          <li><a href="/getting-started/app-client-tools-install-osx.html#rvm">Ruby Version Manager</a></li>
        </ul>
        </li>
    </ul>

    <ul class="nav bs-sidenav">
      <li>
        <h3><a href="/getting-started/app-client-tools-install-linux.html">Инсталиране под Linux</a></h3>
        <ul class="nav" style="display: block;">
          <li><a href="/getting-started/app-client-tools-install-linux.html#install-git-ruby-linux">Инсталиране на Ruby</a></li>
          <li><a href="/getting-started/app-client-tools-install-linux.html#install-git-ruby-linux">Инсталиране на Git</a></li>
          <li><a href="/getting-started/app-client-tools-install-linux.html#install-app-linux">Инсталиране на CloudStrap Client Tools</a></li>
          <li><a href="/getting-started/app-client-tools-install-linux.html#rvm">Ruby Version Manager</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav bs-sidenav">
      <li>
        <h3><a href="/getting-started/app-client-tools-install-windows.html#install-windows">Инсталиране под Windows</a></h3>
        <ul class="nav" style="display: block;">
          <li><a href="/getting-started/app-client-tools-install-windows.html#install-ruby-windows">Инсталиране на Ruby</a></li>
          <li><a href="/getting-started/app-client-tools-install-windows.html#install-git-windows">Инсталиране на Git</a></li>
          <li><a href="/getting-started/app-client-tools-install-windows.html#install-app-windows">Инсталиране на CloudStrap Client Tools</a></li>
        </ul>
      </li>
    </ul>
