<li>
  <a href="fast-create-php-app">Стартиране с PHP</a>
  <ul class="nav" style="display: block;">
    <li><a href="#fast-create-php-app">Бързи инструкции</a></li>
    <li><a href="#create-php-app-in-details">Подробни инструкции</a></li>
    <li><a href="#file-structure">Файлова структура</a></li>
    <li><a href="#deployment">Промени по кода</a></li>
    <li><a href="#markers">Маркери</a></li>
  </ul>
</li>

<li>
  <a href="#add-mysql-to-app">Работа с MySQL</a>
  <ul class="nav">
    <li><a href="#add-mysql-to-app">Добавяне на MySQL</a></li>
    <li><a href="#how-to-access-mysql-via-php">Достъпване през PHP</a></li>
    <li><a href="#how-to-access-mysql-via-ssh">Достъпване през SSH</a></li>
    <li><a href="#how-to-access-mysql-via-devpc">Достъпване през DevPC</a></li>
    <li><a href="#add-phpmyadmin-to-app">Добавяне на phpMyAdmin</a></li>
    <li><a href="#">Подробни инструкции</a></li>
  </ul>
</li>

<li>
  <a href="#add-postgresql-to-app">Работа с PostgreSQL</a>
  <ul class="nav">
    <li><a href="#add-postgresql-to-app">Добавяне на PostgreSQL</a></li>
    <li><a href="#">Използване през PHP</a></li>
    <li><a href="#">SSH до PostgreSQL</a></li>
    <li><a href="#">Достъп през DevPC</a></li>
    <li><a href="#">Подробни инструкции</a></li>
  </ul>
</li>

<li>
  <a href="#add-mongo-to-app">Работа с MongoDB</a>
  <ul class="nav">
    <li><a href="#add-mongo-to-app">Добавяне на MongoDB</a></li>
    <li><a href="#">Използване през PHP</a></li>
    <li><a href="#">SSH до MongoDB</a></li>
    <li><a href="#">Достъп през DevPC</a></li>
    <li><a href="#">Подробни инструкции</a></li>
    <!-- <li><a href="#add-redis-to-app">Redis</a></li>
    <li><a href="#add-memcache-to-app">Memcache</a></li> -->
  </ul>
</li>

<li>
  <a href="#create-codeigniter-app">PHP Frameworks</a>
  <ul class="nav" style="display: block;">
    <li><a href="#create-codeigniter-app">Инсталиране на Codeigniter</a></li>
    <li><a href="#create-cakephp-app">Инсталиране на CakePHP</a></li>
    <!-- <li><a href="#create-symfony-app">Инсталиране на Symfony</a></li> -->
  </ul>
</li>

{% include languages-and-technologies.html slug=page.slug %}