<ul class="nav bs-sidenav">
  <li>
    <h3><a href="#install-macos">Инсталиране под MacOS</a></h3>
    <ul class="nav" style="display: block;">
      <li><a href="#install-ruby-macos">Инсталиране на Ruby</a></li>
      <li><a href="#install-git-macos">Инсталиране на Git</a></li>
      <li><a href="#install-app-macos">Инсталиране на Startapp</a></li>
    </ul>
  </li>

  <li>
    <h3><a href="#install-windows">Инсталиране под Windows</a></h3>
    <ul class="nav" style="display: block;">
      <li><a href="#install-ruby-windows">Инсталиране на Ruby</a></li>
      <li><a href="#install-git-windows">Инсталиране на Git</a></li>
      <li><a href="#install-app-windows">Инсталиране на Startapp</a></li>
    </ul>
  </li>

  <li>
    <h3><a href="#install-linux">Инсталиране под Linux</a></h3>
    <ul class="nav" style="display: block;">
      <li><a href="#install-ruby-linux">Инсталиране на Ruby</a></li>
      <li><a href="#install-git-linux">Инсталиране на Git</a></li>
      <li><a href="#install-app-linux">Инсталиране на Startapp</a></li>
    </ul>
  </li>

</ul>