<li>
  <a href="#">Стартиране с PHP</a>
  <ul class="nav" style="display: block;">
    <li><a href="#fast-create-php-app">Бърза инсталация</a></li>
    <li><a href="#create-php-app-in-details">Подробна инсталация</a></li>
    <li><a href="#create-codeigniter-app">Инсталиране на Codeigniter</a></li>
    <li><a href="#create-cakephp-app">Инсталиране на CakePHP</a></li>
    <li><a href="#create-symfony-app">Инсталиране на Symfony</a></li>
    <li><a href="#add-mysql-to-app">Работа с MySQL</a></li>
    <li><a href="#add-postgresql-to-app">Работа с PostgreSQL</a></li>
    <li><a href="#add-mongo-to-app">Работа с MongoDB</a></li>
    <li><a href="#add-redis-to-app">Работа с Redis</a></li>
    <li><a href="#add-memcache-to-app">Работа с Memcache</a></li>
  </ul>
</li>

{% include languages-and-technologies.html slug=page.slug %}