<header class="navbar navbar-inverse navbar-fixed-top cloudstrap-navbar" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}" class="navbar-brand">
        <svg width="200" height="60" class="logo" alt="{{ site.name }}">
          <use xlink:href="/img/icons.svg#icon-cloudstrap-logo-text"></use>
        </svg>
        <span class="developers">/ developers</span>
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.slug == "about" %} class="active"{% endif %}>
          <a href="http://www.cloudstrap.io/">< сайта на CloudStrap.io</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
