
<ul class="nav bs-sidenav">
  <li>
    <h3><a href="#quickstart">Стартиране с Python</a></h3>
    <ol class="nav" style="display: block;">
      <li><a href="#create-python-app-in-details">1. Създаване на приложение</a></li>
      <li><a href="#file-structure">2. Файлова структура</a></li>
      <li><a href="#env-vars">3. Environment променливи</a></li>
      <li><a href="#make-code-changes">4. Промени по кода</a></li>
      <li><a href="#deployment">5. Качване на сървъра</a></li>
      <li><a href="#markers">6. Маркери</a></li>
      <li><a href="#action-hooks">7. Action Hooks</a></li>
    </ol>
  </li>
</ul>

<ul class="nav bs-sidenav">
  <li><h3><a href="#add-mysql-to-app">Бази данни</a></h3></li>
  <li>
    <a href="#add-mysql-to-app">MySQL</a>
    <ul class="nav">
      <li><a href="#add-mysql-to-app">Добавяне на MySQL</a></li>
      <li><a href="#how-to-access-mysql-via-ssh">Достъпване през SSH</a></li>
      <li><a href="#how-to-access-mysql-via-devpc">Достъпване през работна машина</a></li>
      <li><a href="#add-phpmyadmin-to-app">Добавяне на phpMyAdmin</a></li>
    </ul>
  </li>

  <li>
    <a href="#add-postgresql-to-app">PostgreSQL</a>
    <ul class="nav">
      <li><a href="#add-postgresql-to-app">Добавяне на PostgreSQL</a></li>
      <li><a href="#how-to-access-postgresql-via-ssh">SSH до PostgreSQL</a></li>
      <li><a href="#how-to-access-postgresql-via-devpc">Достъп през работна машина</a></li>
    </ul>
  </li>

  <li>
    <a href="#add-mongo-to-app">MongoDB</a>
    <ul class="nav">
      <li><a href="#add-mongo-to-app">Добавяне на MongoDB</a></li>
      <li><a href="#how-to-access-mongodb-via-ssh">SSH до MongoDB</a></li>
      <li><a href="#how-to-access-mongodb-via-devpc">Достъп през работна машина</a></li>
    </ul>
  </li>
</ul>

<a href="#help" class="btn btn-primary" style="width: 100%">Помощ</a>