
<ul class="nav bs-sidenav">
  <li>
    <h3><a href="#quickstart-ruby">Стартиране с Ruby</a></h3>
    <ol class="nav" style="display: block;">
      <li><a href="#create-ruby-app-in-details">Създаване на ново приложение</a></li>
      <li><a href="#file-structure">Файлова структура на приложението</a></li>
      <li><a href="#make-code-changes">Как да правим промени по кода?</a></li>
      <li><a href="#deployment">Качване на сървъра</a></li>
      <li><a href="#markers">Маркери</a></li>
    </ol>
  </li>
</ul>
<ul class="nav bs-sidenav">
  <li><h3><a href="#add-mysql-to-app">Бази данни</a></h3></li>
  <li>
    <a href="#add-mysql-to-app">MySQL</a>
    <ul class="nav">
      <li><a href="#add-mysql-to-app">Добавяне на MySQL</a></li>
      <li><a href="#how-to-access-mysql-via-ssh">Достъпване през SSH</a></li>
      <li><a href="#how-to-access-mysql-via-devpc">Достъпване през DevPC</a></li>
      <li><a href="#add-phpmyadmin-to-app">Добавяне на phpMyAdmin</a></li>
    </ul>
  </li>
  <li>
    <a href="#add-postgresql-to-app">PostgreSQL</a>
    <ul class="nav">
      <li><a href="#add-postgresql-to-app">Добавяне на PostgreSQL</a></li>
      <li><a href="#how-to-access-postgresql-via-ssh">SSH до PostgreSQL</a></li>
      <li><a href="#how-to-access-postgresql-via-devpc">Достъп през DevPC</a></li>
      <!-- <li><a href="#">Подробни инструкции</a></li> -->
    </ul>
  </li>
  <li>
    <a href="#add-mongo-to-app">MongoDB</a>
    <ul class="nav">
      <li><a href="#add-mongo-to-app">Добавяне на MongoDB</a></li>
      <li><a href="#how-to-access-mongodb-via-ssh">SSH до MongoDB</a></li>
      <li><a href="#how-to-access-mongodb-via-devpc">Достъп през DevPC</a></li>
      <!-- <li><a href="#">Подробни инструкции</a></li> -->
      <!-- <li><a href="#add-redis-to-app">Redis</a></li>
      <li><a href="#add-memcache-to-app">Memcache</a></li> -->
    </ul>
  </li>
</ul>
<ul class="nav bs-sidenav">
  <li>
    <h3><a href="#how-to-bundler">Bundler</a></h3>
    <ul class="nav" style="display: block;">
      <li><a href="#how-to-bundler">Управление на добавки</a></li>
      <li><a href="#ruby-markers">Ruby маркери</a></li>
      <li><a href="#help">Помощ</a></li>
      <!-- <li><a href="#create-symfony-app">Инсталиране на Symfony</a></li> -->
    </ul>
  </li>
</ul>

<a href="#help" class="btn btn-primary" style="width: 100%">Помощ</a>