{% page_header id="work-with-apps" title="Работа с приложения" %}


<div class="row">
<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Домейни</a></h3>
        <p>Виж как приложението ти да има домейн от вида www.example.com</p>
        </div></div></div>
<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Променливи</a></h3>
<p>Вижте как можете да създавате и управлявате Environment променливите на вашите приложения</p></div></div></div>
<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Backup</a></h3>
        <p>Чудите се как да си backup-вате приложението, тук ще намерите информацията която ви е нуждна!</p>
        </div></div></div>
<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Операции</a></h3>
<p>Виж как да рестартираш, спираш, почистваш приложението си!</p></div></div></div>

<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Action Hooks</a></h3>
<p>Искате нещо да се случва всеки път след като качите промените си на сървъра или винаги преди да рестартирате базата си данни ?</p></div></div></div>

<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3 style="margin: 0"><a href="">Скалиране</a></h3>
      <p>Вижте как да настроите вашето приложение така, че да може да поеме повече потребители без да се задъхва!</p></div></div></div></div>