h1[id]
  margin-top: 0
  padding-top: 0

p
  font-size: 15px
  margin: 20px 0

.pseudo-invisible
  visibility: hidden
  height: 0
  padding: 0
  margin: 0
  line-height: 0

/* Topnav */
.cloudstrap-navbar
  background: #fff
  border-top: 7px solid
  border-bottom: 1px solid
  border-color: purple_red

.cloudstrap-navbar .navbar-brand
  position: relative

.navbar-brand svg
  position: absolute
  top:0
  left: 0
  width: 200px
  height: 60px

.cloudstrap-navbar .developers
  color: purple_red
  position: absolute
  top: 24px
  left: 196px
  white-space: nowrap
  font-size: 16px
  text-shadow: none

.navbar-inverse .navbar-nav > li > a
  color: link_color
  text-shadow: none
  if_not_mobile padding-top 20px

.navbar-inverse .navbar-nav > li > a
  &:focus,&:hover
    color: link_color
    text-decoration: underline

.navbar-toggle
  background: purple_red

.navbar-inverse .navbar-collapse
.navbar-inverse .navbar-form
.navbar-inverse .navbar-toggle
  border-color: dark_purple_red

  &:hover
    border-color: transparent

/* /Topnav */


.bs-header
  background: header_bg_color url(../img/header_bg.jpg) center center no-repeat
  padding: 0
  max-height: 266px
  text-shadow: 2px 2px 0 rgba(0,0,0,.15)
  border-bottom: solid 1px dark_purple_red
  overflow: hidden
  if_desktop height 266px

  & h1
    margin-bottom: 25px
    font-weight: 500
    font-size: 50px
    if_mobile font-size 26px
    if_tablet margin-top 60px
    if_tablet font-size 40px

  &.big h1
    font-size: 60px
    if_mobile font-size 26px
    if_tablet font-size 40px

  & p
    font-size: 21px
    color: #333
    font-weight: 200
    background: #fff
    padding: 10px
    text-shadow: none
    display: inline-block
    if_desktop margin-right 50px
    if_tablet font-size 16px
    if_mobile font-size 13px

  & .logos_wrapper
    padding: 50px 15px 40px
    height: 100%
    background: transparent url(../img/logos_bg_10t.png) center center repeat-x

  &.homepage
    background: header_bg_color url(../img/homepage_header_bg.png) top center repeat
    height: 398px
    max-height: 398px
    position: relative
    overflow: visible
  &.homepage .logos_wrapper
    background: transparent url(../img/logos_bg_60t.png) center center repeat-x

  &.homepage .container
    width: 460px
    position: absolute
    z-index: 9999
    top: -50px
    left: 50%
    margin: 0 0 0 -230px
    padding: 0
    overflow: hidden

  &.homepage h1
    width: 460px
    height: 324px
    background: transparent url(../img/devs_center_logo.png) center center no-repeat
    text-indent: -9999px
    margin-bottom: 10px

  &.homepage p
    display: table
    margin: 0 auto
    border-radius: 5px
    font-size: 20px
    padding: 8px 16px
    -webkit-box-shadow: 0 -3px 8px rgba(0,0,0,0.07)
    box-shadow: 0 -3px 8px rgba(0,0,0,0.07)



/* Sidebar */
.bs-sidebar .nav > .active > a
.bs-sidebar .nav > .active:hover > a
.bs-sidebar .nav > .active:focus > a
  color: purple_red
  border-color: purple_red

.bs-sidenav
   background-color: white
   border: solid 1px #f1f1f1

.bs-sidebar .nav > li > a
  &:hover
    background-color: lighten(#DCE0E2, 30%)

/* /Sidebar */

.bs-docs-section

  & .page-header
    padding-top: 80px
    margin-top: -80px

    > h1
      margin-top: 30px

  & > h4
    margin-top: 30px

section.read-more

  & li
    margin-bottom: 6px
    if_mobile margin-bottom 12px

  & li a
    font-size: 16px

  & .caption h3
    margin: 0 0 20px 0

  &.no-border

    & .thumbnail
      border: none
      box-shadow: none

.bs-sidenav
  padding-top: 0
  margin: 0 0 10px 0

.bs-sidebar > ul:first-of-type
  margin-top: 30px


// .affix-top.bs-sidebar
//   padding-top: 30px

.nav li h3
  margin: 0 0 8px 0
  padding: 10px
  background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%)
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(white), to(#fafafa))
  background-image: -webkit-linear-gradient(top, white 0%, #fafafa 100%)
  background-image: -moz-linear-gradient(top, white 0%, #fafafa 100%)
  background-image: linear-gradient(to bottom, white 0%, #fafafa 100%)
  background-repeat: repeat-x
  border-radius: 5px
  font-size: 16px
  font-weight: 700
  color: #777
  -webkit-box-shadow: 0 2px 9px rgba(0,0,0,0.1)
  box-shadow: 0 2px 9px rgba(0,0,0,0.1)

  & a
    color: link_gray

.bs-sidebar .nav > li > a
  padding-left: 10px

.bs-sidebar .nav .nav
  margin-bottom: 0
  & > li > a
    padding-left: 20px

@media (min-width: 992px)
  .affix.bs-sidebar
    margin-top: 0px

  .bs-sidebar:first-child
  .bs-sidebar.affix-bottom .bs-sidenav
  .bs-sidebar.affix .bs-sidenav
    margin-top: 0;
    margin-bottom: 10px;

  .bs-sidebar.affix
    top: 80px

.well.well-cloudstrap
  margin-top: 20px
  background-image: linear-gradient(to bottom, white 0%, #fafafa 100%)
  -webkit-box-shadow: none
  box-shadow: none

  & a:hover
    color: #fff

.document-content-section
  overflow: hidden
  border: solid 1px #ccc
  border-radius: 5px
  -webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.2)
  box-shadow: 0 20px 50px rgba(0,0,0,0.2)
  padding: 0 20px
  margin: 30px 0 60px 0

  & .document-content-section
    box-shadow: 0 0px 6px rgba(0,0,0,0.08)
    border-color: lighten(#ccc, 50%)

    & .page-header h1
      font-size: 24px

  &.primary
    background: lighten(link_color, 91%)
    border-color: lighten(link_color, 70%)

    & .page-header
      color: link_color
