if_mobile(property, value...)
  @media screen and (max-width: 767px)
    {property}: value;

if_not_mobile(property, value...)
  @media screen and (min-width: 768px)
    {property}: value;


if_tablet(property, value...)
  @media screen and (min-width: 768px) and (max-width: 991px)
    {property}: value;

if_desktop(property, value...)
  @media screen and (min-width: 992px)
    {property}: value;