#toc
.toc
.mw-warning
  padding: 5px

#toc h2, .toc h2
  text-align: left
  margin-bottom: 15px

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle
  text-align: center

#toc ul, .toc ul
  list-style-image: none
  list-style-type: none
  padding: 10px
  text-align: left
  background: sidebar_gray
  border-radius: 5px
  border: 1px solid #ddd


#toc ul li
  list-style-type: none
  padding-left: 0

#toc-container
  margin-bottom: 10px