#### MongoDB ENV променливи

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на променливата</th>
          <th>Какво съдържа?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            OPENSHIFT_MONGODB_DIR
          </td>
          <td>Директорията на MongoDB</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_HOST
          </td>
          <td>HOST/IP на MongoDB сървъра. <b>Важно:</b> Имайте в предвид, че ако приложенито не е скалируемо, IP адресът е локален за хост сървъра, което означава, че няма да може да бъде достъпен извън него. </td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_PORT
          </td>
          <td>Порт</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_USERNAME
          </td>
          <td>Потребилското име</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_PASSWORD
          </td>
          <td>Парола</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_URL
          </td>
          <td>Адреса до MongoDB сървъра `mysql://[user]:[pass]@[host]:[port]/`</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MONGODB_DB_LOG_DIR
          </td>
          <td>Директорията, в която се записват логовете на MongoDB</td>
        </tr>

      </tbody>
    </table>
  </div>
