#### MySQL ENV променливи

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на променливата</th>
          <th>Какво съдържа?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            OPENSHIFT_MYSQL_DIR
          </td>
          <td>Директорията на MySQL</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_HOST
          </td>
          <td>HOST/IP на MySQL сървъра. <b>Важно:</b> Имайте в предвид, че ако приложенито не е склаиращо, IP адресът е локален за хост сървъра, което означава, че няма да може да бъде достъпен извън него. </td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_PORT
          </td>
          <td>Порт</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_USERNAME
          </td>
          <td>Потребилското име</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_PASSWORD
          </td>
          <td>Парола</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_URL
          </td>
          <td>Адреса до MySQL сървъра `mysql://[user]:[pass]@[host]:[port]/`</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_MYSQL_DB_LOG_DIR
          </td>
          <td>Директорията, в която се записват логовете на MySQL</td>
        </tr>

      </tbody>
    </table>
  </div>
