#### PostgreSQL ENV променливи

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на променливата</th>
          <th>Какво съдържа?</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_HOST
          </td>
          <td>HOST/IP на PostgreSQL сървъра. <b>Важно:</b> Имайте в предвид, че ако приложението не е скалируемо, IP адресът е локален за хост сървъра, което означава, че няма да може да бъде достъпен извън него. </td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_PORT
          </td>
          <td>Порт</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_USERNAME
          </td>
          <td>Потребителско име</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_PASSWORD
          </td>
          <td>Парола</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_PID
          </td>
          <td>Пътя до PID файла на сървъра</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_SOCKET_DIR
          </td>
          <td>Пътя до сокет директорията на сървъра</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_URL
          </td>
          <td>Адреса до PostgreSQL сървъра (postgresql://[user]:[pass]@[host]:[port]/)</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_DB_LOG_DIR
          </td>
          <td>Директорията, в която се записват логовете на PostgreSQL</td>
        </tr>

        <tr>
          <td>
            OPENSHIFT_POSTGRESQL_VERSION
          </td>
          <td>Версията на инсталирания PostgreSQL във формат: <b>X.Y</b></td>
        </tr>

      </tbody>
    </table>
  </div>
