<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% production %}
      {% include analytics.html %}
    {% endproduction %}
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header {% if page.header_title_fontsize %}{{ page.header_title_fontsize }}{% endif %}" id="content">
      <div class="logos_wrapper">
        <div class="container">
          <h1>{% if page.header_title %}{{ page.header_title }}{% else %}{{ site.header_title }}{% endif %}</h1>
          <p>{{ page.lead }}</p>
        </div>
      </div>
    </div>
    <!-- Callout for the old docs link -->


    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">

            {% if page.slug == "getting-started" %}
              {% include nav-getting-started.html %}

            {% elsif page.slug == "cloudstrap-with-php" %}
              {% include nav-getting-started-with-php.html %}

            {% elsif page.slug == "cloudstrap-with-php-quick" %}
              {% include nav-getting-started-with-php-quick.html %}

            {% elsif page.slug == "cloudstrap-with-nodejs" %}
              {% include nav-getting-started-with-nodejs.html %}

            {% elsif page.slug == "cloudstrap-with-nodejs-quick" %}
              {% include nav-getting-started-with-nodejs-quick.html %}

            {% elsif page.slug == "cloudstrap-with-ruby" %}
              {% include nav-getting-started-with-ruby.html %}

            {% elsif page.slug == "cloudstrap-with-ruby-quick" %}
              {% include nav-getting-started-with-ruby-quick.html %}

            {% elsif page.slug == "cloudstrap-with-python" %}
              {% include nav-getting-started-with-pyton.html %}

            {% elsif page.slug == "cloudstrap-with-python-quick" %}
              {% include nav-getting-started-with-pyton-quick.html %}

            {% elsif page.slug == "app-client-tools-install" %}
              {% include nav-app-install.html %}

            {% elsif page.slug == "app-client-tools-install-osx" %}
              {% include nav-app-install-osx.html %}

            {% elsif page.slug == "app-client-tools-install-linux" %}
              {% include nav-app-install-linux.html %}

            {% elsif page.slug == "app-client-tools-install-windows" %}
              {% include nav-app-install-windows.html %}

            {% endif %}

          </div>
        </div>
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
