#### Валидни маркери за всяко едно NodeJS приложение/уеб сайт

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на маркера</th>
          <th>Какво прави?</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>
            <code>hot_deploy</code>
          </td>
          <td>Забранява рестартирането на апликейшъна по време на git push-овете. Виж още в Development mode.</td>
        </tr>

      </tbody>
    </table>
  </div>