#### Валидни маркери за всяко едно PHP приложение/уеб сайт

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на маркера</th>
          <th>Какво прави?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>force_clean_build</code>
          </td>
          <td>Ще изтрие всички dependencies и ще започне да ги инсталира на ново, при всеки <code>git push</code></td>
        </tr>

        <tr>
          <td>
            <code>hot_deploy</code>
          </td>
          <td>Apache сървърът няма да се рестартира по време на build/deploy</td>
        </tr>

        <tr>
          <td>
            <code>disable_auto_scaling</code>
          </td>
          <td>Ще забраните автоматичното скалиране на приложението</td>
        </tr>

      </tbody>
    </table>
  </div>
