#### Валидни маркери за PHP приложения

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Име на маркера</th>
          <th>Какво прави?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            force_clean_build
          </td>
          <td>Ще изтрие всички dependencies и ще ги инсталира, при всеки <code>git push</code></td>
        </tr>

        <tr>
          <td>
            hot_deploy
          </td>
          <td>Уеб сървърът няма да се рестартира при на качване на приложението</td>
        </tr>
        <tr>
          <td>
            disable_auto_scaling
          </td>
          <td>Забранява автоматичното скалиране на приложението</td>
        </tr>
        <tr>
          <td>
            use_composer
          </td>
          <td>Стартира автоматично инсталирането на Composer при всеки build. За подробности <a href="#add-composer">Composer</a>.</td>
        </tr>
        <tr>
          <td>
            enable_public_server_status
          </td>
          <td>Разрешава 'server status page' да бъде публично достъпна</td>
        </tr>
      </tbody>
    </table>
  </div>
