#### Валидни маркери за Python приложение

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-3">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Име на маркера</th>
        <th>Какво прави?</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        force_clean_build
      </td>
      <td>Ще регенерира 'virtualenv' при build.</td>
    </tr>
    <tr>
      <td>
        hot_deploy
      </td>
      <td>Забранява рестартирането на приложението по време на git push.</td>
    </tr>

    </tbody>
  </table>
  </div>