#### Валидни маркери за всяко едно Ruby приложение/уеб сайт

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-3">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Име на маркера</th>
        <th>Какво прави?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>force_clean_build</td>
        <td>Ще стартира инсталиране на изчистена инсталация.</td>
      </tr>
      <tr>
        <td>hot_deploy</td>
        <td>Ще извърши обновяване на Вашата програма без да се рестартират Apache. "The Passenger" <code>restart.txt</code> файлът ще бъде използван за презареждане на Вашето приложение.</td>
      </tr>
      <tr>
        <td>disable_asset_compilation</td>
        <td>Ще забрани нова рекомпилация на специфичните активи при уплоадване на Вашето приложение. Този маркер е подходящо да се използва при качване на приложения, които са с готови компилирани активи.</td>
      </tr>
    </tbody>
  </table>
</div>
